<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebSite" value="http://10.168.241.59/TcoWebSiteDemo/TCOWebSite/LogIn.aspx" />
    <add key="LocalWebSite" value="http://localhost:24997/TCOWebSite/LogIn.aspx" />
    <add key="Browser" value="Chrome" />
    <add key="UserName" value="1" />
    <add key="UserPassword" value="Isropa1" />
    <add key="NazareneUser" value="1" />
    <add key="NazarenePassWord" value="oldnew" />
    <add key="VeredUser" value="200" />
    <add key="VeredPassword" value="1234" />
    <add key="PageLoadTimeOut" value="10" />
    <add key="ElementWait" value="10" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>